<div class="login-box">
  <h2>Plans-Prepaid</h2>
</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Plan ID</th>
      <th scope="col">Plan name</th>
      <th scope="col">Validity</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
    <td>{{item.pre_id}}</td>
    <td>{{item.pre_plan}}</td>
    <td>{{item.pre_validity}}</td>
    <td>{{item.pre_price}}</td>

      <a class="nav-link" routerLink="/buypreapaid">New connection</a>
        <a class="nav-link" routerLink="/reprepaid">Recharge</a>
          {{ error?.message }}
      <router-outlet></router-outlet>

  </tr>

  </tbody>
</table>


