<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Dongle Billing</title>
  {% load static %}
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand " href="#"><b>Voizfonica</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">PRE-PAID &nbsp;&nbsp;&nbsp;</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">POSTPAID&nbsp;&nbsp;&nbsp;</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">DONGLE&nbsp;&nbsp;&nbsp;</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LOGIN/REGISTER&nbsp;&nbsp;&nbsp;</a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          HELP
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Contact Us</a>
        </div>
      </li>

    </ul>


  </div>
</nav>
</div>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/action_page.php">



          <div class="col-50">
            <h3>Payment</h3>

            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" placeholder="Enter Name">
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label for="expmonth">Exp Month</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="xx">

            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input type="text" id="expyear" name="expyear" placeholder="xxxx">
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="xxx">
              </div>
            </div>
          </div>

<!--        </div>-->

        <input type="submit" value="PAY" class="btn">
      </form>
    </div>
  </div>


  </div>
</div>
<div class="credit-cards" style="text-align: center; width: 100%">
  <img height="40" src="https://shoplineimg.com/assets/footer/card_visa.png"/>
  <img height="40" src="https://shoplineimg.com/assets/footer/card_master.png"/>
  <img height="40" src="https://shoplineimg.com/assets/footer/card_paypal.png"/>
  <img height="40" src="https://shoplineimg.com/assets/footer/card_unionpay.png"/>
  <img height="40" src="https://shoplineimg.com/assets/footer/card_linepay.png"/>
  <img height="40" src="https://shoplineimg.com/assets/footer/card_tw_711_pay.png"/>
  <img height="40" src="https://shoplineimg.com/assets/footer/card_tw_fm_pay.png"/>
  <img height="40" src="https://shoplineimg.com/assets/footer/card_taishin.png"/>
  <img height="40" src="https://shoplineimg.com/assets/footer/card_amex.png"/>
  <img height="40" src="https://shoplineimg.com/assets/footer/card_ecpay.png"/>
  <img height="40" src="https://shoplineimg.com/assets/footer/card_jcb.png"/>
</div>
</body>
</html>
